.navbar-static-side {
    background: #293038;
    height: 100%;
    width: 100%;
    float: left;
}
.navbar-static-side .nav > li > a {
    color: #ffffff;
    padding: 12px 15px 12px 0px;
    font-weight: 600;
}

.navbar-static-side .nav-second-level > li > a {
    color: #ffffff;
    font-weight: normal;
}

.navbar-static-side .nav > li > a > .fa:not(.arrow){
    color: #a7b1c2;
    padding: 0 17px;
    font-size: 15px;
}

.navbar-static-side .nav li > a {
    display: block
}

.navbar-static-side .nav li:not(.actived) > a:hover {
    background-color: #37424f;
    color: #ffffff;
}

.navbar-static-side .nav > li > a:focus{
    background: transparent;
    color: #ffffff;
    outline-style: none;
}

.navbar-static-side .nav > li > a:hover > .fa{
    color: #ffffff;
}

.navbar-static-side .nav > li.active  .nav {
    background: #22282e;
}

.navbar-static-side .nav li.actived{
    background: #36bded;
}

.navbar-static-side .nav li.actived > a:focus, .navbar-static-side .nav li.actived > a:hover{
    background: transparent;
    outline-style: none;
}

.navbar-static-side .nav-second-level li a {
    padding: 12px 15px 12px 10px;
    padding-left: 49px
}

.navbar-static-side .nav-second-level > li > a > .fa:not(.arrow){
    padding: 0 6px 0  0;
}

.navbar-static-side .nav-second-level > li.actived > a > .fa:not(.arrow){
    color: #ffffff;
}

.navbar-static-side .nav-third-level li a {
    padding-left: 59px
}

.navbar-static-side .arrow {
    float: right;
    margin-top: 2px
}

.navbar-static-side .fa.arrow:before {
    content: "\f105"
}

.navbar-static-side .active > a > .fa.arrow:before {
    content: "\f107"
}

.navbar-static-side .nav-second-level li, .navbar-static-side .nav-third-level li {
    border-bottom: none !important
}

.mini-navbar .navbar-static-side  li.active{
    background: #36bded;
    color: #ffffff;
}
.mini-navbar .navbar-static-side .nav > li.active > a:hover {
    background-color: #36bded;
    color: #ffffff;
}
.mini-navbar .navbar-static-side  li.active > a >i.fa{
    color: #ffffff;
}

.mini-navbar .nav li:focus > .nav-second-level {
    display: block;
    border-radius: 0 2px 2px 0;
    min-width: 140px;
    height: auto
}

body.mini-navbar .navbar-static-side .nav > li > .nav-second-level li a {
    border-radius: 0 2px 2px 0
}

.sidebar-collapse, .sidebar-collapse > * {
    overflow: hidden
}

.mini-navbar .nav-second-level {
    background: #293846
}

.mini-navbar li.active .nav-second-level {
    left: 65px
}

body.mini-navbar .navbar-static-side {
    width: 50px
}

body.mini-navbar .nav-label, body.mini-navbar .navbar-default .nav li a span {
    display: none
}

body.mini-navbar .nav-second-level {
    display: none
}

.mini-navbar .nav li > .nav-second-level {
    display: none
}

.mini-navbar .nav li.active {
    border-left-width: 0
}

.mini-navbar .nav li:hover > .nav-second-level {
    position: absolute;
    left: 70px;
    top: 0;
    background-color: #2f4050;
    padding: 10px 10px 0;
    font-size: 12px;
    display: block;
    min-width: 140px;
    border-radius: 2px
}

body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
    font-size: 12px;
    border-radius: 3px
}

.mini-navbar .nav-second-level li a {
    padding: 10px 10px 10px 15px
}

.mini-navbar .nav-second-level {
    position: relative;
    padding: 0;
}

.mini-navbar li.active .nav-second-level {
    left: 0
}

@media (max-width: 768px) {
    body.mini-navbar .navbar-static-side {
        width: 50px
    }
}

@media (max-width: 350px) {
    body.mini-navbar .navbar-static-side {
        width: 0
    }
}

.navbar-default .btn {
    border-radius: 3px
}

.animated {
    -webkit-animation-name: animated;
    animation-name: animated;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 100
}
@-webkit-keyframes animated {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes animated {
    0% {
        opacity: 0;
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        transform: translateX(40px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
}